@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

// Colors
$mainYellow: #f8cc5d;
$mainBlue: #4eb3e3;
$darkText: #1f343e;
$brightBackground: #f8f4f9;
$darkBackground: #45565e;
$textColor: #434a54;

//Fonts
$notoFamily: "Noto Sans", sans-serif;
$caveatFamily: "Caveat Brush", sans-serif;

$breakpoint_laptop: 1024px;
$breakpoint_tablet: 768px;
$breakpoint_phone: 425px;
